blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
body,
html {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f1f1f1;
}
a:focus,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.clearfix::after,
.clearfix::before {
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}
